/* GIVE DIFFERENT names so that the product listing page doesn't mess up */


@import url(../../main.css);

:root {
  --light-grey: #9ca3af;
  --button-hover: #be185d;
  --text-green: #16a34a;
  --box-shadow: 0px 0px 5px 5px var(--light-grey);
  --border-default: 1px solid;
}

.main-container-cart {
  display: flex;
  margin-top: 2rem;
  gap: 5rem;
  justify-content: space-evenly;
}

.item-heading-cart {
  text-decoration: underline var(--secondary-color);
  margin-top: 5rem;
  margin-left: 1.3rem;
  font-size: 1.2rem;
}

.product-card-cart {
  display: flex;
  margin-top: 2rem;
  border: var(--border-default);
  gap: 6rem;
  height: 13rem;
  box-shadow: var(--box-shadow);
  border-radius: 5px;
  border: none;
  width: 24rem;
}

.image-section-cart {
  display: flex;
  width: 4rem;
  height: 13rem;
}

.cart-img {
  border-radius: 5px;
}

.product-details-cart {
  display: flex;
  flex-direction: column;
  margin-left: 0.7rem;
}

.card-heading {
  margin-top: 1.5rem;
  font-weight: bold;
  font-size: 1.3rem;
}

.product-price-cart {
  margin-top: 0.5rem;
}

.discount-price-cart {
  font-weight: bold;
  font-size: 1rem;
}

.original-price-cart {
  font-weight: bold;
  color: var(--light-grey);
  text-decoration: line-through var(--light-grey);
}

.quantity-cart {
  margin-top: 1.5rem;
}

.qty-input-cart {
  width: 2rem;
}

.btn-cart {
  border-radius: 50%;
  border: none;
  height: 1.5rem;
  width: 1.5rem;
  font-size: 1.1rem;
  cursor: pointer;
  background-color: var(--secondary-color);
  color: var(--color-white);
}

.btn:hover,
.btn-primary:hover,
.btn-order:hover {
  background-color: var(--button-hover);
}

.cta-buttons-cart {
  margin-top: 2rem;
  position: relative;
}

.btn-primary,
.btn-order {
  color: var(--color-white);
  background-color: var(--secondary-color);
  border: none;
  padding: 0.7rem;
  font-weight: bold;
  border-radius: 0.4rem;
  cursor: pointer;
}

.secondary-cart {
  position: absolute;
  bottom: 10rem;
  font-size: 1.3rem;
  left: 12rem;
  cursor: pointer;
}

.secondary:hover {
  color: var(--secondary-color);
}

.price-details-cart {
  border: var(--border-default);
  width: 17rem;
  height: 18rem;
  box-shadow: var(--box-shadow);
  border: none;
  border-radius: 5px;
  padding: 1rem;
}

.price-spec-cart {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0rem;
  font-weight: bold;
}

.text-green-cart {
  color: var(--text-green);
}

.btn-order-cart {
  margin-top: 2rem;
  padding: 1rem 1.7rem;
  font-size: 1rem;
  margin-left: 3.7rem;
}
